<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="cache-control" content="no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0, post-check=0, pre-check=0">

    <!-- Origin Trial Token, feature = WebVR (For Chrome M62+), origin = https://threejs.org, expires = 2018-09-11 -->
    <meta http-equiv="origin-trial" data-feature="WebVR (For Chrome M62+)" data-expires="2018-09-11" content="AqhFUYKxq/d+E8CDT0fuYRCg8TvlTP52x0Jv7I9t27sLhR30LmcahBRfSwzP89ukjs2+ia99VrrLoRyaFAwJVA0AAABQeyJvcmlnaW4iOiJodHRwczovL3RocmVlanMub3JnOjQ0MyIsImZlYXR1cmUiOiJXZWJWUjEuMU02MiIsImV4cGlyeSI6MTUzNjYyNDAwMH0=">
		<!-- Origin Trial Token, feature = WebXR Device API (For Chrome M69+), origin = https://threejs.org, expires = 2018-10-27 -->
		<meta http-equiv="origin-trial" data-feature="WebXR Device API (For Chrome M69+)" data-expires="2018-10-27" content="An4ZYOGvf6kVHNxqZxS02TPAvpZESkmBhcVCM/byViDDuEB2XKvCF43aCJjrAU/R8H3WDlv+1bDGTL/XxstHGgoAAABTeyJvcmlnaW4iOiJodHRwczovL3RocmVlanMub3JnOjQ0MyIsImZlYXR1cmUiOiJXZWJYUkRldmljZU02OSIsImV4cGlyeSI6MTU0MDY1NTAyMn0=">
		<!-- Origin Trial Token, feature = WebXR Gamepad Support, origin = https://threejs.org, expires = 2018-10-24 -->
    <meta http-equiv="origin-trial" data-feature="WebXR Gamepad Support" data-expires="2018-10-24" content="Agrr6lZhlwzv5jmv/mpLZA37DIiVcg3HvX8bH8EWB+OBruV3sUJuzDfYz6qs/je+LcH41DkrmPn4k9RaUaqpQAAAAABYeyJvcmlnaW4iOiJodHRwczovL3RocmVlanMub3JnOjQ0MyIsImZlYXR1cmUiOiJXZWJYUkdhbWVwYWRTdXBwb3J0IiwiZXhwaXJ5IjoxNTQwMzg4NjI0fQ==">
    
    <title>HAMB Rover</title>
    <script src="{{ url_for('static', filename='js/side_navigation_menu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/live_streaming.js') }}"></script>
    <script src="{{ url_for('static', filename='js/nr_websocket.js') }}"></script>
    <script src="{{ url_for('static', filename='js/nr_rover_control.js') }}"></script>
    <script src="{{ url_for('static', filename='js/nr_gamepad.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/side_navigation_menu.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/master.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/modal.css') }}">
  </head>
  <body>

    <div id="document-body">

    <div id="mysidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeSideNavMenu()">&times;</a>
      <a href="javascript:void(0)" onclick="openLiveFeedAndControl()">Live Feed + Control</a>
      <a href="javascript:void(0)" onclick="openControlTest()">Control Test</a>
      <a href="javascript:void(0)" onclick="openStatus()">Status</a>
      <a href="javascript:void(0)" onclick="openDeubg()">Debug</a>
      <a href="javascript:void(0)" onclick="openPinMenu()">PIN (Guest)</a>
      <a href="javascript:void(0)" onclick="openShutdown()">Shutdown/Restart</a>
    </div>

    <div id="top">
      <span id="sidenavbtn" onclick="openSideNavMenu()">&#x2630;</span>
      <span id="network_info"></span>
      <a href="{{ url_for('logout') }}">Logout</a>
    </div>

    <div id="live-feed-and-control-page">
    </div>

    <div id="live-feed-360-page">
        <img src="{{ url_for('static', filename='img/bg.jpg') }}" />
    </div>

    <!-- Status -->
    <div id="status-page">
      <div>
        <ul>
          <li>System uptime: <span id="system-uptime"></span></li>
          <li>CPU: <span id="cpu-usage"></span></li>
          <li>SoC core temp.: <span id="soc-core-temp"></span></li>
          <li>Camera: <span id="camera"></span></li>
        </ul>
      </div>
      <div>
        <button onclick="resetSphericalCamera()">Reset Spherical Camera</button>
      </div>
    </div>

    <!-- Control Test -->
    <div id="control-test-page">
      <div class="motor_control">
        <button class="motor_control_button" type="button" name="forward_button" onclick="moveForward()">&#x25B2;&#x25B2;</button>
      </div>
      <div class="motor_control">
        <button class="motor_control_button" type="button" name="forward_button" onclick="setFwdBackMotorSpeed(50)">&#x25B2;</button>
      </div>
      <div class="motor_control">
        <button class="motor_control_button" type="button" name="steer_left_button" onclick="steerLeft()">&#x25C0;</button>
        <button class="motor_control_button" type="button" name="sotp_button" onclick="stop()">STOP</button>
        <button class="motor_control_button" type="button" name="steer_right_button" onclick="steerRight()">&#x25B6;</button>
      </div>
      <div class="motor_control">
        <button class="motor_control_button" type="button" name="forward_button" onclick="setFwdBackMotorSpeed(-50)">&#x25BC;</button>
      </div>
      <div class="motor_control">
        <button class="motor_control_button" type="button" name="backward_button" onclick="moveBackward()">&#x25BC;&#x25BC;</button>
      </div>
    </div>
  
    <!--hr>
    <div><button class="photo_shoot_button" type="button" onclick="takePhoto()">TAKE A PHOTO</button></div>
    <hr-->

    <!-- 360 Camera View -->
    <div id="spherical-scene" onmousedown="onMouseDown(event)" onmouseup="onMouseUp(event)" onmousemove="onMouseMove(event)">
      <!-- we draw mjpg onto this canvas and use the canvas as the texture -->
      <canvas id="2d" width="512" height="512" style="display: none"></canvas>

      <!-- This one is for rending 3D scene -->
      <canvas id="3d" width="1000px" height="800px"></canvas>
    </div>

    <!-- Debug -->
    <div id="debug-page">
      <div id="gamepad_info">
        <div>
          <span>Gamepad: </span><span id="gamepad_id"></span><span id="gamepad_index"></span>
        </div>
        <div>
          <span id="gamepad_button_info"></span>
        </div>
          <div id="gamepad_axes">
        </div>
      </div>
    </div>

    <div id="shutdown-modal" class="modal" onclick="closeShutdown()">
      <div class="modal-content">
        <button class="powerbutton" onclick="rebootServer()">Reboot</button>
        <button class="powerbutton" onclick="shutdownServer()">Shut Down</button>
      </div>
    </div>

    <div id="pin-modal" class="modal" onclick="closePinMenu()">
      <div id="pin-modal-content" class="modal-content">
        <span id="guest-pin"></span>
      </div>
    </div>

    <!-- display button at the bottom center of the page -->
    <div id="toggle-cameras" onclick="toggleCameras()">
      CAM
    </div>

    </div>

    <!--script src='js/on_page_loaded.js'></script-->
		<script src="{{ url_for('static', filename='js/three.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/WebVR.js') }}"></script>
    <script src="{{ url_for('static', filename='js/spherical_camera_view.js') }}"></script>
  </body>
</html>
