/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #666;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 500px;
    height: 300px;
}

/* Fake (pseudo) element to enable vertical-align */
/* Source: https://codepen.io/edge0703/pen/iHJuA */
.modal-content::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
